* {
  box-sizing: border-box;
}

.verification-code {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.code-input {
  width: 30px;
  text-align: center;
}

html,
body,
.wrapper {
  height: 100%;
}

@keyframes rotate {
  100% {
    background-position: 0% 50%;
  }
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  background-color: #000000;
  background-image: url("bbblurry.svg");
  background-repeat: no-repeat;
  background-size: 200vh;
  font-family: "Euclid Circular A";
  color: #3a334e;
  animation: rotate 5s infinite alternate linear;
}

.root {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: 135%; /* Add some padding to keep the login-card away from the edge */
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-top: 25px !important;
}

.control {
  border: 0;
  border-radius: 8px;
  outline: none;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: transparent;
  border-radius: 6px;
  border: 2px solid black;
  color: black;
  margin: 4px 0;
  font-family: inherit;
  text-align: left;
  font-size: 20px;
  transition: 0.4s;
}

.login-form input.control::placeholder {
  color: black;
  font-weight: bold;
}

.swiper {
  width: 100%;
} 

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-right: 11%;
  margin-top: 30px;
}

.login-card { 
  padding: 30px 27px 30px;
  border-radius: 1.25rem;
  background: white; 
  backdrop-filter: blur(10px);
  text-align: left;
  box-shadow: 1px -1px 25px 4px rgba(100, 97, 97, 0.75);
}

.login-card > h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0 15px 0;
  color: #f9f9f9;
}

.login-card img {
  width: 120px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 15px; 
  padding: 5px;
}

.login-card > h3 {
  color: #837f90;
  margin: 0 0 40px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
}



.login-form button.control {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: black;
  color: white;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}

.username {
  position: relative;
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  right: 16px;
  translate: 0 -50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid black;
  border-top-color: white;
  opacity: 0;
  animation: spin 1s infinite linear;
}

.spinner.visible {
  opacity: 1;
}

.alert {
  overflow: hidden;
  text-align: left;
  padding: 0 16px;
  color: #ff3e72;
  height: 0;
  transition: 0.3s;
}

.alert.visible {
  height: 32px;
}

#bars {
  margin: 8px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: gray
}

#bars div {
  height: 6px;
  border-radius: 3px;
  transition: 0.4s;
  width: 0%;
}

#bars.weak div {
  background: #bc2b38;
  width: 33.33%;
}

#bars.medium div {
  background: #d36f30;
  width: 66.66%;
}

#bars.strong div {
  background: #1eb965;
  width: 100%;
}

.strength {
  font-size: 15px;
  text-align: left;
  height: 30px;
  text-transform: capitalize;
}


