* {
  box-sizing: border-box;
}
html, body, .wrapper {
  height: 100%;
}

@keyframes rotate {
  100% {
    background-position: 0% 50%;
  }
}

.root {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: 135%;
  /* Add some padding to keep the login-card away from the edge */
}

body {
  place-items: center;
  margin: 0;
  background-color: black;
  color: #222;
  background-repeat: no-repeat;
  background-size: 200vh;
  font-family: "Euclid Circular A";
  animation: rotate 5s infinite alternate linear;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.primary-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.secondary-container {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding: 100px;
  border-radius: 5px;
}

.left,
.right {
  flex: 1;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.input-spinner-container {
  position: relative;
  display: inline-block;
}

.left {
  background: transparent;
  width: 70% !important;
}

.right {
  width: 30% !important;
}


.login-card {
  height: auto;
  padding: 8px 27px 30px;
  backdrop-filter: blur(10px);
  border-radius: 0 15px 15px 0;
  text-align: left;
  background: white;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);

  >h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0 15px 0;
    color: #222;
  }

  >h3 {
    color: #837f90;
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 1rem;
  }
}

.login-card img {
  width: 120px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
  padding: 5px;
  object-fit: cover;
}

.login-card .login-form {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  width: 100%;
  height: 35px;
  color: black;
  margin: 0;
  padding: 0;
  background: white;
  border: none;
  border-bottom: 3px solid #999;
  border-radius: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: 18px;
  transition: 0.4s;
}

.login-form button.control {
  position: relative;
  height: 50px;
  cursor: pointer;
  width: 100%;
  background: black;
  color: white;
  border: 0;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

.login-form input.control::placeholder {
  color: #999;
  font-size: 19px;
  font-weight: 600;
}


.swiper-container {
  width: 100% !important;
  max-width: 100% !important;
  overflow: hidden;
}

.swiper {
  width: 100%;
}

.slider-wrapper, .carousel, .slider {
  height: 100%;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px 0px 0px 15px;

}

.username {
  position: relative;
  width: 100%;
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}

.spinner {
  position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f5f5f5;
    border-top-color: black;
    opacity: 0;
    animation: spin 1s infinite linear;
}


.control .spinner {
  position: absolute;
  left: 2%;
}

.spinner.visible {
  opacity: 1;
}

.alert {
  overflow: hidden;
  text-align: left;
  padding: 0 16px;
  color: #ff3e72;
  height: 0;
  transition: 0.3s;
}

.alert.visible {
  height: 26px;
}

.text-danger {
  overflow: inherit;
  height: 0;
  margin-top: 5px;
  transition: 0.5s;
}

.text-danger.visible {
  height: 21px;

}

@media only screen and (min-width: 1000px) {
  .secondary-container {
    width: 78%;
  }
}

@media only screen and (min-width: 1200px) {
  .secondary-container {
    width: 75%;
  }
}




@media only screen and (min-width: 1400px) {
  .secondary-container {
    width: 60%;
  }
}