* {
  box-sizing: border-box;
}

.verification-code {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.code-input {
  width: 30px;
  text-align: center;
}

html,
body,
.wrapper {
  height: 100%;
}

@keyframes rotate {
  100% {
    background-position: 0% 50%;
  }
}

.root {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: 135%;
  /* Add some padding to keep the login-card away from the edge */
}





body {
  display: grid;
  place-items: center;
  margin: 0;
  background-color: black;
  color: #222;
  background-repeat: no-repeat;
  background-size: 200vh;
  font-family: "Euclid Circular A";
  animation: rotate 5s infinite alternate linear;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.primary-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.secondary-container {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding: 100px;
  border-radius: 5px;
}

.left,
.right {
  flex: 1;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.left {
  background: transparent;
  width: 70% !important;
}

.right {
  width: 30% !important;
}


.login-card {
  height: auto;
  padding: 30px 27px 30px;
  backdrop-filter: blur(10px);
  border-radius: 0 15px 15px 0;
  text-align: left;
  background: white;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
}

.login-card>h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0 15px 0;
  color: #222;
}

.login-card img {
  width: 120px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
  padding: 5px;
  object-fit: cover;
}

.login-card>h3 {
  color: #837f90;
  margin: 0 0 40px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  width: 100%;
  height: 35px;
  color: black;
  margin: 0;
  padding: 0;
  background: white;
  border: none;
  border-bottom: 3px solid #999;
  border-radius: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: 17px;
  transition: 0.4s;
}

.login-form button.control {
  height: 50px;
  cursor: pointer;
  width: 100%;
  background: black;
  color: white;
  border: 0;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

.login-form input.control::placeholder {
  color: #999;
  font-size: 17px;
}




.swiper {
  width: 100%;
}

.slider-wrapper,
.carousel,
.slider {
  height: 100%;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px 0px 0px 15px;

}

.username {
  position: relative;
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  right: 16px;
  translate: 0 -100%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f5f5f5;
  border-top-color: black;
  opacity: 0;
  animation: spin 1s infinite linear;
}

.spinner.visible {
  opacity: 1;
}

.alert {
  overflow: hidden;
  text-align: left;
  padding: 0 16px;
  color: #ff3e72;
  height: 0;
  transition: 0.3s;
}

.alert.visible {
  height: 26px;
}

.text-danger {
  overflow: hidden;
  height: 0;
  margin-top: 5px;
  transition: 0.5s;
}

.text-danger.visible {
  height: 26px;

}

#bars {
  margin: 8px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: gray
}

#bars div {
  height: 6px;
  border-radius: 3px;
  transition: 0.4s;
  width: 0%;
}

#bars.weak div {
  background: #bc2b38;
  width: 33.33%;
}

#bars.medium div {
  background: #d36f30;
  width: 66.66%;
}

#bars.strong div {
  background: #1eb965;
  width: 100%;
}

.strength {
  font-size: 15px;
  text-align: left;
  height: 30px;
  text-transform: capitalize;
}


/* Upload Image styles */

.image-container {
  height: 150px;
  width: 150px;
  position: relative;
  display: inline-block;
}

.image-container img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transition: filter 0.3s;
  object-fit: cover;
}

.image-container:hover img {
  filter: blur(4px);
}

.upload-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-container:hover .upload-overlay {
  display: flex;
}

.upload-text {
  color: white;
  font-size: 16px;
  text-align: center;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .secondary-container {
    display: flex;
    justify-content: space-between;
    width: 55%;
    padding: 100px;
    border-radius: 5px;
  }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
  .secondary-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 100px;
    border-radius: 5px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .secondary-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 100px;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 1400px) {
  .secondary-container {
    display: flex;
    justify-content: space-between;
    width: 72%;
    padding: 100px;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 1500px) {
  .secondary-container {
    display: flex;
    justify-content: space-between;
    width: 58%;
    padding: 100px;
    border-radius: 5px;
  }
}